<template>
    <div class="container-fluid">
        <div id="produit">
            <div class="info">
                <h1>{{ shoes?.marque }}</h1>
                <h2 class="card-subtitle mb-2 text-body-secondary">{{ shoes?.name }}</h2>
                <p>{{ shoes?.prix }} $</p>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="drop" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Choisissez votre taille
                    </button>
                    <ul class="dropdown-menu">
                        <li v-for="item of taille"><a class="dropdown-item">{{ item.taille }}</a></li>
                    </ul>
                </div>
                <button id="panier">AJOUTER AU PANIER</button>
            </div>
            <div class="pic">
                <img :src="shoes?.image" alt="">
                <PictureOfProducts v-if="pictures != null" v-for="item of pictures" :picture="item"></PictureOfProducts>

            </div>
        </div>

        <div id="comm">
            <button class="btn btn-primary" @click="execute()" v-if="!notes">Show Comments</button>
            <div v-if="notes">
                <h3 id="comment">Avis</h3>
                <hr>

                <Commentaire v-if="notes" :list="notes" @submit="addNote($event)"></Commentaire>
            </div>
        </div>




    </div>
</template>

<script setup lang="ts">
import { $api } from '~/composable/fetch';
import { type Taille, type Image, type Produit, type Note } from '~/entities';

const route = useRoute();



const { data: shoes } = await useFetch<Produit>("http://localhost:8080/api/produit/" + route.params.id);
const { data: pictures } = await useFetch<Image[]>("http://localhost:8080/api/picture/produit/" + route.params.id);
const { data: taille } = await useFetch<Taille[]>("http://localhost:8080/api/taille/produit/" + route.params.id);
const { data: notes, execute } = await useFetch<Note[]>('http://localhost:8080/api/produit/' + route.params.id + '/note')


async function addNote(note: Note) {
    if (!shoes.value) return;
    note.produit = shoes.value;
    await $api('/api/note', {
        method: 'POST',
        body: note
    });
    execute();
}
</script>

<style scoped>
#produit {
    display: flex;
    flex-direction: row-reverse;
}
.container-fluid{
    background-color: #f5eee1;

}

img {
    margin: 1rem;
    width: 40%;
}

.pic {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

#drop {
    border: #00749c 1px solid;
    color: #00749c;
    background-color: #fff;
    border-radius: 5px;
    height: 5vh;
    width: 25vw;
}


.info {
    width: 45%;
    padding-top: 2rem;
}

#comm{
    padding-bottom: 3rem;

}

#panier {
    border: #00749c 1px solid;
    color: #fff;
    background-color: #00749c;
    border-radius: 5px;
    margin-top: 5vh;
    height: 5vh;
    width: 25vw;
    transition: transform 0.2s;
}

#panier:hover {
    transform: scale(1.1);
}


#comment{
    font-size: 2rem;
    color: #00749c;
}
hr{
    width: 90px;
    border: 2px solid #00749c;

}


@media screen and (min-width: 500px) and (max-width: 1000px) {
    img {
        width: 80%;
    }
    #drop{
        width: 90%;
    }
    #panier {
        width: 90%;
    }
    
}

@media screen and (max-width:500px) {
    #produit {
        flex-direction: column;
        align-items: center;
    }
    #drop{
        width: 100%;
    }
    #panier {
        width: 100%;
    }
    

    .info {
        width: 90%;
    }

    h2 {
        font-size: 1rem;
    }

    .pic {
        width: 100%;
    }

    img {
        width: 90%;
    }

}
</style>