<template>

<div class="global">
    <h1>femme</h1>

<ShoesCard v-if="data" :list="data"></ShoesCard>
</div>
</template>

<script setup lang="ts">
import ShoesCard from '~/components/ShoesCard.vue';
import type { Produit } from '~/entities';

const { data, refresh } = await useFetch<Produit[]>('http://localhost:8080/api/produit/genre/femme');


</script>

<style scoped>

</style>