<template>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <NuxtLink to="/"><img src="/images/logoecommerce.png" id="logo"></NuxtLink>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="item" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NuxtLink to="/shoes/homme" class="nav-link">Homme</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/shoes/femme" class="nav-link">Femme</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/shoes/enfant" class="nav-link">Enfant</NuxtLink>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <NuxtLink to="/login"><img src="/images/user.png" alt=""></NuxtLink>
                </li>
            </div>
        </div>
    </nav>
</template>

<script setup lang="ts">
</script>

<style scoped>

img{
    width: 50px;
}
#logo{
    width:80px;
}
li{
    list-style: none;
}
.nav-link{
    color: #00749c;
    font-family: "Major Mono Display", monospace;
    font-weight: 800;
    font-size: 1.2rem;
}
.nav-link :hover{
    text-decoration: underline;
}

</style>