<template>
    <div v-for="product of list">
        <NuxtLink :to="'/shoes/' + product.id">
            <div class="col-md-3">
                <div class="card" style="width: 18rem">
                    <img :src="product.image" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{ product.marque }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.name }}</h6>
                        <p class="card-text">{{ product.prix }} €</p>
                    </div>
                </div>
            </div>
        </NuxtLink>
    </div>
</template>

<script lang="ts" setup>
import type { Produit } from "~/entities";

defineProps<{
    list: Produit[];
}>();
</script>

<style scoped>
.card {
    margin: 1rem;
    transition: transform 0.2s;
    background-color: #f5eee1;
}

.card:hover {
    transform: scale(1.1);
}
</style>